
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@100&family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Black+And+White+Picture&family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Black+And+White+Picture&family=Cormorant+Unicase&family=Sedgwick+Ave+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}

body{
    height: 110vh;
    background: #7474BF;
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  
    background: linear-gradient(to right, #348AC7, #7474BF); 
    /* margin-bottom: 100px; */
}

/* --------- for site name movies house ------------------ */

.site-name{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --------------- for about panchayat ------------------ */
/* for desktop{  */
.about{
    position: absolute;
    font-size: 22px;
    font-style: italic;
    margin: 220px 30px 0 47px;
    color: floralwhite;
    /* font-weight: 600; */
    /* font-family: 'Baloo Da 2', cursive; */
    /* font-family: 'Neuton', serif; */
    /* font-family: 'Cormorant Unicase', serif; */
    /* font-family: 'Aref Ruqaa', serif; */
    /* font-family: 'DM Mono', monospace; */
    /* font-family: 'Sedgwick Ave Display', cursive; */
    font-family: 'Slabo 27px', serif;
    text-shadow: 2px 5px 3px black;
}

.storyline{
    position: relative;
    text-align: justify;
    margin-top: 33px;
    margin-right: 110px;
    left: 29px;
}
.about h3{
    position: absolute;
    font-size: 38px;
    font-weight: bold;
    color: black;
    font-family: 'Aref Ruqaa', serif;
    /* font-family: 'Black And White Picture', sans-serif; */
    text-shadow: 2px 3px 0 rgb(186, 214, 84);
    line-height: 1px; 
}



/* ---------- forpanchayat trailer ---------------------- */

/* for desktop */
.center, .front-face,
.back-face, .contents{
    position: absolute;
}

.center{
    top: 25rem;
    left: 3rem;
    /* transform: translate(-50%, -50%); */
    height: 200px;
    width: 300px;
    /* background-size: cover; */
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face, .back-face{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(p_trailer.jpg);
    background-size: cover;
    /* background-position: center; */
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);   
    /* box-shadow: 10px 20px 20px darkslategrey; */
}

.contents{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    /* this transform use for text 3D effect  */
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face{
    transform: rotateY(180deg);
    background: linear-gradient(45deg, 
    #043348 0%, #5c6355 100%);
}

.back{
    color: white;
}

.back h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ffae8f, #ff677d, #cd6684, #6f5a7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.back h2::after{
    content: '';
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back span{
    font-size: 20px;
}

.center:hover > .back-face{
    transform: rotateY(0deg); 
}

.center:hover > .front-face{
    transform: rotateY(-180deg);
}



/* --------------------------------------------------Panchayat E01--------------------------- */
/* for desktop */
.center0, .front-face0,
.back-face0, .contents0{
    position: absolute;
}

.center0{
    top: 25rem;
    left: 25rem;
    /* transform: translate(-50%, -50%); = this line is commentes  */
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face0, .back-face0{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    /* background-size: 300px 200px;  = this line is commentes  */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents0{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    /* this transform use for text 3D effect  =  this line is commentes  */
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face0{
    transform: rotateY(180deg);
    background: linear-gradient(45deg, 
    #043348 0%, #5c6355 100%);
}

.back0{
    color: white;
}

.back0 h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ffae8f, #ff677d, #cd6684, #6f5a7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.back0 h2::after{
    content: '';
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back0 span{
    font-size: 20px;
}

.center0:hover > .back-face0{
    transform: rotateY(0deg);
    
}

.center0:hover > .front-face0{
    transform: rotateY(-180deg);
    

}



/* ------- button for youtube trailer -------------*/
/* for desktop */
.button1{
    position: absolute;
    top: 39.3rem;
    left: 6rem;
    width: 200px;
    height: 50px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.button1:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button1 .icon{
    margin-right: 10px ;
}

.button1 .secondary{
    font-weight: 700;
    color: white;
    background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #043348);
}


.button1 .primary, .button1 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 54px;
    transition: margin .4s;
    backface-visibility: hidden;   
}

.button1 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button1:hover .primary{
    margin-top: -54px;
}


/* -------------------for hover button------S01 E01------------ */

/* for desktop */
.button2{
    position: absolute;
    top: 39.3rem;
    left: 28rem;
    width: 200px;
    height: 50px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    /* color: #342; */
    /* color:white; */
    overflow: hidden;
    border-radius: 10px;
}

.button2:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0); 
    text-decoration: none;
}
    
.button2 .icon{
    margin-right: 10px;
}

.button2 .secondary{
    font-weight: 700;
    color: white;
    background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #043348);
}

.button2 .primary, .button2 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 54px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button2 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button2:hover .primary{
    margin-top: -54px;
}



/* body */
@media only screen and (max-width: 600px){
    body{
        /* position: relative; */
        height: 130vh;
        background: white;
        background: #7474BF;
        background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  
        background: linear-gradient(to right, #348AC7, #7474BF); 
    }
}

/* --------- for site name movies house ------------------ */
@media only screen and (max-width : 600px) {
    .site-name{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0%);
        font-family: 'Sedgwick Ave Display', cursive;
        font-size: 36px;
        font-weight: bold;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/* --------------- for about panchayat ------------------ */
/* for monile  */
@media only screen and (max-width: 600px){
    .about{
        position: absolute;
        font-size: 20px;
        font-style: italic;
        margin: 170px 0px 0 17px;
        /* color: floralwhite; */
        color: black;
        font-weight: normal;
        /* font-family: 'Baloo Da 2', cursive; */
        font-family: 'Neuton', serif;
        /* font-family: 'Cormorant Unicase', serif; */
        /* font-family: 'Aref Ruqaa', serif; */
        /* font-family: 'DM Mono', monospace; */
        /* font-family: 'Sedgwick Ave Display', cursive; */
        /* font-family: 'Slabo 27px', serif; */
        text-shadow: none;
    }
    
    .storyline{
        text-align: justify;
        position: relative;
        margin-top: 33px;
        margin-right: 60px;
        left: 20px;
    }
    .about h3{
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        color: black;
        font-family: 'Aref Ruqaa', serif;
        /* font-family: 'Black And White Picture', sans-serif; */
        text-shadow: 2px 3px 0 rgb(186, 214, 84);
        line-height: 1px; 
    }
}


/* ---------- forpanchayat trailer ---------------------- */
/* for mobile  */
@media only screen and (max-width: 600px){
    .center, .front-face,
    .back-face, .contents{
        position: absolute;
        
    }

    .center{
        top: 35rem;
        left: 2rem;
        height: 200px;
        width: 150px;
        background-position: center;
    }   

    .front-face{
        height: 200px;
        width: 150px;
        text-align: center;
        background: url(panchayatimg.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        backface-visibility: hidden;
    }

    .contents{
        left: 0;
        top: 90px;
        width: 100%;
        display: none;
    }
    
}


/* --------------------------------------------------Panchayat E01--------------------------- */
/* for mobile  */
@media only screen and (max-width:600px){
    .center0, .front-face0,
    .back-face0, .contents0{
        position: absolute;
    }

    .center0{
        top: 35rem;
        left: 14rem;
        height: 200px;
        width: 220px;
        background-size: cover;
        background-position: center;
    }

    .front-face0{
        height: 200px;
        width: 150px;
        text-align: center;
        background: url(panchayatimg.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        backface-visibility: hidden;
    }

    .contents0{
        left: 0;
        top: 90px;
        width: 100%;
        display: none;
    }
}


/* ------- button for youtube trailer -------------*/
/* for mobile  */
@media only screen and (max-width:600px){
    .button1{
        position: absolute;
        top: 48.5rem;
        left: 3.5rem;
        width: 100px;
        height: 40px;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        /* white-space: nowrap; */
        font-weight: 700;
        text-align: center;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .button1:hover{
        box-shadow: 0 0 10px rgb(0, 0, 0);
        text-decoration: none;
    }
    
    .button1 .icon{
        margin-right: 0px ;
    }
    
    .button1 .secondary{
        font-weight: 700;
        font-size: 12px;
        color: white;
        background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #043348);
        /* background: transparent; */
    }
    
    
    .button1 .primary, .button1 .secondary{
        display: block;
        /* padding: 0 1px; */
        line-height: 40px;
        transition: margin .4s;
        backface-visibility: hidden;   
    }
    
    .button1 .primary{
        background-color: #ff7858;
        color: #fff;
        border-radius: 10px;
    }
    
    .button1:hover .primary{
        margin-top: -40px;
    }
}


/* -------------------for hover button------S01 E01------------ */
/* for mobile  */
@media only screen and (max-width: 600px){
    .button2{
        position: absolute;
        top: 48.5rem;
        left: 15.6rem;
        width: 100px;
        height: 40px;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        /* color: #342; */
        /* color:white; */
        overflow: hidden;
        border-radius: 10px;
    }
    
    .button2:hover{
        box-shadow: 0 0 10px rgb(0, 0, 0); 
        text-decoration: none;
    }
      
    .button2 .icon{
        margin-right: 0px;
    }
    
    .button2 .secondary{
        font-weight: 700;
        font-size: 12px;
        color: white;
        inline-size: auto;
        background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #043348);
    }
    
    .button2 .primary, .button2 .secondary{
        display: block;
        /* padding: 0 10px; */
        line-height: 40px;
        transition: margin .4s;
        backface-visibility: hidden;
    }
    
    .button2 .primary{
        background-color: #ff7858;
        color: #fff;
        border-radius: 10px;
    }
    
    .button2:hover .primary{
        margin-top: -40px;
    }
}