
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@100&family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Black+And+White+Picture&family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Black+And+White+Picture&family=Cormorant+Unicase&family=Sedgwick+Ave+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}

body{
    /* height: 250vh; */
    background: #7474BF;
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  
    background: linear-gradient(to right, #348AC7, #7474BF); 
    /* margin-bottom: 600px; */
}

/* blocked area  */

.pl, .pl_bttn, .cj_bttn, .cj, .second_bttn1, .dc , .dc_bttn, .bc, .bc_bttn{
    display: none;
}
/* --------- for site name movies house ------------------ */
.paint{
    top: -60px;
    left: 15%;
    height: 380px;
    position: absolute;
    width: 850px;

}
.site-name{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 90px;
    font-weight: bold;
    cursor: default;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* category */

.category{
    top: 200px;
    position: absolute;
    text-align: center;
    margin-top: 10px;
}
.category a{
    color: #000;
    display: inline-block;
    margin:8px 10px;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Caladea', serif;
    /* background: burlywood; */
    background: rgb(226, 206, 190);
    text-decoration: none;
    line-height:15px;
    padding: 8px 70px;
    line-height: 25px;
    /* font-size: 10px; */
    font-weight: 700;
}

.navbar{
    background: white;
}
/* ---------- forpanchayat trailer ---------------------- */

/* for desktop */
.center, .front-face,
.back-face, .contents{
    position: absolute;
}

.center{
    top: 25rem;
    left: 5rem;
    /* left: 3rem; main  */
    height: 200px;
    width: 250px;
    /* background-size: cover; */
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face, .back-face{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(p_trailer.jpg);
    background-size: cover;
    /* background-position: center; */
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);   
    /* box-shadow: 10px 20px 20px darkslategrey; */
}

.contents{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    /* this transform use for text 3D effect  */
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face{
    transform: rotateY(180deg);
    /* background: linear-gradient(45deg, 
    #043348 0%, #5c6355 100%); */
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back{
    color: white;
}

.back h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
}
.back h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.center:hover > .back-face{
    transform: rotateY(0deg); 
}

.center:hover > .front-face{
    transform: rotateY(-180deg);
}

/* ------- button for youtube trailer -------------*/
/* for desktop */
.button0{
    position: absolute;
    top: 38.5rem;
    /* left: calc(190px - 4%); */
    left: 145px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.button0:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button0 .icon{
    /* margin-right: 1px ; */
    padding-right: 10px;
}

.button0 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #768d99);
}


.button0 .primary, .button0 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;   
}

.button0 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button0:hover .primary{
    margin-top: -40px;
}


/* ------------------Panchayat E01-------------------- */
/* for desktop */
.center0, .front-face0,
.back-face0, .contents0{
    position: absolute;
}
.center0 .hint{
    display: none;
}
.center0{
    top: 25rem;
    /* left: 25rem; main  */
    left: 24rem; 
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face0, .back-face0{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    background-size: 290px;
    /* background-size: cover; */
    /* background-position: center; */
    background-position: 555px;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents0{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    /* this transform use for text 3D effect  =  this line is commentes  */
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face0{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back0{
    color: white;
}

.back0 h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
    /* background: linear-gradient(to right, #ffae8f, #ff677d, #cd6684, #6f5a7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.back0 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back0 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.center0:hover > .back-face0{
    transform: rotateY(0deg);
}

.center0:hover > .front-face0{
    transform: rotateY(-180deg);
}

/* -------------------button------S01 E01------------ */

/* for desktop */
.button1{
    position: absolute;
    top: 38.5rem;
    left: 445px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button1:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0); 
    text-decoration: none;
}
    
.button1 .icon{
    /* margin-right: 0px; */
    padding-right: 10px;
}

.button1 .firstt{
    display: none;
}

.button1 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #768d99);
}

.button1 .primary, .button1 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button1 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button1:hover .primary{
    margin-top: -40px;
}


/* -------------------for panchayat S01 E02----------------- */
.center2, .front-face2,
.back-face2, .contents2{
    position: absolute;
}

.center2{
    top: 25rem;
    /* left: 47rem; main  */
    left: 43rem;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face2, .back-face2{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    /* background-size: cover; */
    background-size: 290px;
    /* background-position: center; */
    background-position: 555px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents2{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    /* this transform use for text 3D effect */
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face2{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back2{
    color: black;
}

.back2 h2{
    font-size: 35px;
    font-family: 'Aref Ruqaa', serif;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
    /* background: linear-gradient(to right, #ffae8f, #ff677d, #cd6684, #6f5a7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.back2 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin:0 auto;
    margin-top: 10px;
}

.back2 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.center2:hover > .back-face2{
    transform: rotateY(0deg);
}

.center2:hover > .front-face2{
    transform: rotateY(-180deg);
}

/* the button pf panchayat S01 E02  */
/* desktop */
.button2{
    position: absolute;
    top: 38.5rem;
    left: 747px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button2:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button2 .icon{
    /* margin-right: 0px; */
    padding-right: 10px;
}

.button2 .firstt{
    display: none;
}

.button2 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #768d99);
}

.button2 .primary, .button2 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button2 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button2:hover .primary{
    margin-top: -40px;
}



/* ----------- for panchayat S01 E03  --------------------- */
.center3, .front-face3,
.back-face3, .contents3{
    position: absolute;
}

.center3{
    top: 25rem;
    /* left: 47rem; main  */
    left: 62rem;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face3, .back-face3{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    background-size: 290px;
    /* background-size: cover; */
    background-position: 555px;
    /* background-position: center; */
    backface-visibility: hidden;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents3{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;

    /* this transform use for text 3D effect */
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face3{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back3{
    color: black;
}

.back3 h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
    /* background: linear-gradient(to right, #ffae8f, #ff677d, #cd6684, #6f5a7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.back3 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin:0 auto;
    margin-top: 10px;
}

.back3 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.center3:hover > .back-face3{
    transform: rotateY(0deg);
}

.center3:hover > .front-face3{
    transform: rotateY(-180deg);
}
/*---------------- button for S01 E03 ------------------ */
.button3{
    position: absolute;
    top: 38.5rem;
    left: 1048px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button3:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button3 .icon{
    padding-right: 10px;
}

.button3 .firstt{
    display: none;
}

.button3 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5, #ff57a5a2, #768d99);
}

.button3 .primary, .button3 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button3 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button3:hover .primary{
    margin-top: -40px;
}

/* for panchayat E04  */
.center4, .front-face4,
.back-face4, .contents4{
    position: absolute;
}

.center4{
    top: 45rem;
    left: 5rem;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face4, .back-face4{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    background-size: 290px;
    background-position: 555px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents4{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face4{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back4{
    color: black;
}

.back4 h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
}

.back4 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back4 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.center4:hover > .back-face4{
    transform: rotateY(0deg);
}

.center4:hover > .front-face4{
    transform: rotateY(-180deg); 
}

 /*---------------- button  for E04  */
.button4{
    position: absolute;   
    top: 58.5rem;
    left: 145px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button4:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button4 .icon{
    padding-right: 10px;
}

.button4 .firstt{
    display: none;
}

.button4 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5, #ff57a5a2, #768d99);
}

.button4 .primary, .button4 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button4 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button4:hover .primary{
    margin-top: -40px;
}

/* ----------------------for panchayat E05  */
.center5, .front-face5,
.back-face5, .contents5{
    position: absolute;
}

.center5{
    top: 45rem;
    left: 24rem;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face5, .back-face5{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    background-size: 290px;
    background-position: 555px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents5{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face5{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back5{
    color: black;
}

.back5 h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
}

.back5 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back5 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.center5:hover > .back-face5{
    transform: rotateY(0deg);
}

.center5:hover > .front-face5{
    transform: rotateY(-180deg); 
}

/*---------------- button  for E05  */
 .button5{
    position: absolute;   
    top: 58.5rem;
    left: 445px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button5:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button5 .icon{
    padding-right: 10px;
}

.button5 .firstt{
    display: none;
}

.button5 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5, #ff57a5a2, #768d99);
}

.button5 .primary, .button5 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button5 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button5:hover .primary{
    margin-top: -40px;
}


/* ----------------------for panchayat E06  */
.center6, .front-face6,
.back-face6, .contents6{
    position: absolute;
}

.center6{
    top: 45rem;
    left: 43rem;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face6, .back-face6{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    background-size: 290px;
    background-position: 555px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents6{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face6{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back6{
    color: black;
}

.back6 h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
}

.back6 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back6 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.center6:hover > .back-face6{
    transform: rotateY(0deg);
}

.center6:hover > .front-face6{
    transform: rotateY(-180deg); 
}

/* the button pf panchayat S01 E06 */
/* desktop */
.button6{
    position: absolute;
    top: 58.5rem;
    left: 747px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button6:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button6 .icon{
    /* margin-right: 0px; */
    padding-right: 10px;
}

.button6 .firstt{
    display: none;
}

.button6 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5 , #ff57a5a2, #768d99);
}

.button6 .primary, .button6 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button6 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button6:hover .primary{
    margin-top: -40px;
}

/* ----------for panchayat E07--------- */
.center7, .front-face7,
.back-face7, .contents7{
    position: absolute;
}

.center7{
    top: 45rem;
    /* left: 47rem; main  */
    left: 62rem;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face7, .back-face7{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    background-size: 290px;
    /* background-size: cover; */
    background-position: 555px;
    /* background-position: center; */
    backface-visibility: hidden;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents7{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;

    /* this transform use for text 3D effect */
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face7{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back7{
    color: black;
}

.back7 h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
}

.back7 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin:0 auto;
    margin-top: 10px;
}

.back7 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.center7:hover > .back-face7{
    transform: rotateY(0deg);
}

.center7:hover > .front-face7{
    transform: rotateY(-180deg);
}
/*---------------- button for S01 E07 ------------------ */
.button7{
    position: absolute;
    top: 58.5rem;
    left: 1048px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button7:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button7 .icon{
    padding-right: 10px;
}

.button7 .firstt{
    display: none;
}

.button7 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5, #ff57a5a2, #768d99);
}

.button7 .primary, .button7 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button7 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button7:hover .primary{
    margin-top: -40px;
}


/* ------------for panchayat E8-------------------  */
.center8, .front-face8,
.back-face8, .contents8{
    position: absolute;
}

.center8{
    top: 65rem;
    left: 5rem;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front-face8, .back-face8{
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(panchayat.jpg);
    background-size: 290px;
    background-position: 555px;
    backface-visibility: hidden;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}

.contents8{
    left: 0;
    top: 90px;
    width: 100%;
    perspective: 1000px;
    display: block;
    transform: translateY(-50%) translateZ(70px) scale(.94);
}

.back-face8{
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #043348 50%, #9bc274 50%);
}

.back8{
    color: black;
}

.back8 h2{
    font-family: 'Aref Ruqaa', serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #e2dfe3;
}

.back8 h2::after{
    /* content: ''; */
    display: flex;
    right: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
}

.back8 span{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.center8:hover > .back-face8{
    transform: rotateY(0deg);
}

.center8:hover > .front-face8{
    transform: rotateY(-180deg); 
}

 /*---------------- button  for E08  */
.button8{
    position: absolute;   
    top: 78.5rem;
    left: 145px;
    width: 130px;
    height: 40px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button8:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-decoration: none;
}

.button8 .icon{
    padding-right: 10px;
}

.button8 .firstt{
    display: none;
}

.button8 .secondary{
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: linear-gradient(to right,  #62ec80d5, #ff57a5a2, #768d99);
}

.button8 .primary, .button8 .secondary{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    transition: margin .4s;
    backface-visibility: hidden;
}

.button8 .primary{
    background-color: #ff7858;
    color: #fff;
    border-radius: 10px;
}

.button8:hover .primary{
    margin-top: -40px;
}

.navi{
    display: none;
}



/* body */
/* @media only screen and (max-width: 600px){
    body{
        height: 130vh;
        background: white;
        background: #7474BF;
        background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  
        background: linear-gradient(to right, #348AC7, #7474BF); 
    }
} */

/* --------- for site name movies house ------------------ */
@media only screen and (max-width : 360px) {
    
    body{
        /* height: 150vh; */

        /* display: ; */
        /* margin-bottom: 200px; */
        background: #c5fffd;
    }
    
    .navbar{
        width: 100%;
        margin: auto;
        background: #87b6a7;
    }
    
    .site-name{
        position: absolute;
        top: 80px;
        left: 45%;
        transform: translate(-40%, 0%);
        font-family: 'Sedgwick Ave Display', cursive;
        font-size: 35px;
        font-weight: bold;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        /* background: #f2a65a; */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .paint{
        display: none;
        position: absolute;
        top: -5px;
        left: 50px;
        width: 250px;
        height: 200px;
    }

    /* category */

    .category{
        top: 140px;
        position: absolute;
        margin: 0 0px;
        text-align: center;
    }

    .category a{
        color: #fff;
        display: inline-block;
        margin: 8px;
        font-family: 'Caladea', serif;
        background: #ff5964;
        border-radius: 10px;
        text-decoration: none;
        padding: 5px 24px;
        line-height: 25px;
        height: 35px;
        font-weight: 700;
    }
    /* font pic
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Cormorant Unicase', serif;
    font-family: 'Aref Ruqaa', serif;
    font-family: 'DM Mono', monospace;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Slabo 27px', serif; */


    .center, .center1, .center2, .center3, .center4, .center5, .center6, .center7, .center8, .button0, .button1, .button2, .button3, .button4, .button5, .button6, .button7, .button8{
        display: none;
    }

    /* for panchayat E01 */
    
    .center0, .front-face0,
    .back-face0, .contents0{
        position: absolute;
    }

    .center0{
        top: 29rem;
        left: 1.5rem;
        /* margin: 0 20px; */
        background-size: cover;
        background-position: center;
    }
    
    .front-face0, .back-face0{
        height: 250px;
        width: 136px;
        text-align: center;
        background: url(panchayatimg.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        backface-visibility: hidden;
        transition: none;
      
    }

    .contents0{
        display: none;
    }

    .button0{
        display: none;
    }

    .second_bttn1{
        position: absolute;
        top: 45.5rem;
        left: 1.5rem;
        display: inline-block;
        width: 136px;
        height: 40px;
        font-family: 'Slabo 27px', serif;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        /* background-color: #ff7858; */
        background: transparent;
        border-color: rgb(41, 20, 44);
        border: 1px;
        border-style: solid;
        color: #000;
        overflow: hidden;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 -3px 10px #074f75;
    }

    .second_bttn1 .icon{
        color: #3a2e39;
        /* color: white; */
        margin-right: 5px;
    }

    /* criminal justice  */
    .cj{
        top: 29rem;
        left: 12.5rem;
        position: absolute;
        display: block;
    }
    
    .poster_cj{
        height: 250px;
        width: 136px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .cj_bttn{
        position: absolute;   
        top: 45.5rem;
        left: 12.5rem;
        width: 136px;
        height: 40px;
        font-size: 18px;
        font-family: 'Slabo 27px', serif;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        border-color: rgb(41, 20, 44);
        border: 1px;
        border-style: solid;
        background: transparent;
        /* box-shadow: 0 0 20px #074f75; */
        /* background-color: #ff7858; */
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 -3px 10px #074f75;
        color: #000;
        overflow: hidden;
        display: block;
    }
    .cj_bttn .icon{
        color: #3a2e39;
        margin-right: 5px;
    }

    /* paatal lok */
    .pl{
        top: 50rem;
        left: 1.5rem;
        position: absolute;
        display: block;
    }

    .poster_pl{
        height: 250px;
        width: 136px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .pl_bttn{
        position: absolute;
        top: 66.5rem;
        left: 1.5rem;
        width: 136px;
        height: 40px;
        font-size: 18px;
        font-family: 'Slabo 27px', serif;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        border-color: rgb(41, 20, 44);
        border: 1px;
        border-style: solid;
        background: transparent;
        -moz-box-shaow:     inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 -3px 10px #074f75;
        color: #000;
        overflow: hidden;
        display: block;
    }

    .pl_bttn .icon{
        color: #3a2e39;
        /* background: linear-gradient(90deg, rgb(189, 189, 51) 50%); */
        /* -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        margin-right: 10px;
    }

    /* delhi crime  */
    .dc{
        top: 50rem;
        left: 12.5rem;
        position: absolute;
        display: block;
    }

    .poster_dc{
        height: 250px;
        width: 136px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .dc_bttn{
        position: absolute;
        top: 66.5rem;
        left: 12.5rem;
        width: 136px;
        height: 40px;
        font-size: 18px;
        font-family: 'Slabo 27px', serif;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        border-color: rgb(41, 20, 44);
        border: 1px;
        border-style: solid;
        background: transparent;
        -moz-box-shadow:        inset 0 0 10px #000000;
        -webkit-box-shadow:     inset 0 0 10px #000000;
        box-shadow:             inset 0 0 10px #074f75;
        color: #000;
        overflow: hidden;
        display: block;
    }

    .dc_bttn .icon{
        color: #3a2e39;
        margin-right: 10px;
    }

    /* for baghdad central */
    .bc{
        top: 70rem;
        left: 1.5rem;
        position: absolute;
        display: block;
    }

    .poster_bc{
        height: 250px;
        width: 136px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .bc_bttn{
        position: absolute;
        top: 86.5rem;
        left: 1.5rem;
        width: 136px;
        height: 40px;
        font-size: 18px;
        font-family: 'Slabo 27px', serif;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        border-color: rgb(41, 20, 44);
        border: 1px;
        border-style: solid;
        background: transparent;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #7474BF;
        color: #000;
        overflow: hidden;
        display: block;
    }

    .bc_bttn .icon{
        color: #3a2e39;
        margin-right: 10px;
    }

    /* the blackout */

    .blackout{
        position: absolute;
        top: 70rem;
        left: 12.5rem;
        display: block;
    }

    .poster_bo{
        height: 250px;
        width: 136px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        border-color: black;
        border: 1px;
        border-style: solid;
    }

    .bo_bttn{
        position: absolute;
        top: 86.5rem;
        left: 12.5rem;
        width: 136px;
        height: 40px;
        font-size: 18px;
        font-family: 'Slabo 27px',serif;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        border-color: rgb(41, 20, 44);
        border: 1px;
        border-style: solid;
        background-color: transparent;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #7474BF;
        color: #000000;
        overflow: hidden;
        display: block;
    }
}



