@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@100&family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Black+And+White+Picture&family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Black+And+White+Picture&family=Cormorant+Unicase&family=Sedgwick+Ave+Display&display=swap');
/* @media only screen and (max-width: 360px) {s */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #c5fffd;
    }

    .container{
        position: relative;
        display: flex;
        /* justify-content: left; */
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* width: 136px; */
    }

    .container img{
        /* position: relative; */
        width: 136px;
        height: 250px;
        margin: 5px 15px;
        
    }


    /* .site-name{
        position: absolute;
        background: #f79d65;
        width: 100%;
        text-align: center;
        font-family: 'Sedgwick Ave Display', cursive;
        font-size: 45px;
        font-weight: bold;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .pegination {
        position: absolute;
        top: 112.5rem;
        left: 36px;
        text-align: center;
        display: inline-block;
        list-style: none;
        background: #87b6a7;
        border-radius: 5px;
    }

    .pagination,
    li {
        color: black;
        float: left;
        margin: 0 10px;
    }

    li a {
        color: black;
        font-weight: 700;
        font-size: 13px;
        float: left;
        position: relative;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;

    }

    .pagination,
    a.active {
        text-decoration: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination,
    li a:hover:not(.active) {
        background-color: rgb(124, 108, 108);
        border-radius: 5px;
        color: #000;
        text-decoration: none;
    } */

